<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error <%= status %> - My Website</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex flex-col min-h-screen bg-white">
    <header class="text-gray-600 body-font bg-white shadow fixed-top">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a
          href="/"
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <!-- Logo SVG here -->
          <img
            src="/Images/traveler-with-a-suitcase-svgrepo-com.png"
            alt="tripsage"
            class="h-10 w-auto" />
          <span class="ml-3 text-2xl font-bold">TripSage</span>
        </a>
      </div>
    </header>
    <main class="flex-1 flex items-center justify-center px-4 bg-gray-200">
      <div
        class="flex flex-col md:flex-row items-center justify-center w-full max-w-4xl gap-6 md:gap-12 animate-fade-in">
        <div class="flex-1 text-center md:text-left">
          <p class="text-2xl sm:text-xl md:text-2xl text-black font-semibold">
            <%= message %>
          </p>
        </div>
        <div class="hidden md:block border-l border-gray-400 h-32"></div>
        <div class="flex-1 text-center md:text-right">
          <h1
            class="text-[8rem] sm:text-[10rem] md:text-[10rem] font-bold text-black animate-pulse">
            <%= status %>
          </h1>
        </div>
      </div>
    </main>
     <footer class="bg-white text-black py-4">
      <div class="text-center">
        <p class="text-base">
          Made with passion ⚡ by
          <a
            href="https://github.com/SHAIK-RAIYAN"
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex items-center space-x-1 ml-1 text-lg font-bold hover:underline">
            <span>SHAIK RAIYAN</span>
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
